*.o
*.a
*.so
*.log
*.swp
*~

*.kdev4*
*.kdev_include_paths

!.gitignore

src/apps/samples/shaperectst/linux/shaperectst
src/apps/samples/shaperectst/shaperectst
src/apps/samples/wordrectst/linux/wordrectst
src/util/featurefilewriter/linux/featurefilewriter
src/util/imgwriter/linux/imgwriter
src/util/mdv/linux/mdv
src/util/run/runshaperec/linux/runshaperec
src/util/run/runshaperec/runshaperec
src/util/run/runwordrec/linux/runwordrec

doc/html/*

